<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6903333789-qmnfsons2058p6sr07b1morfqkvkngvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6903333789-qmnfsons2058p6sr07b1morfqkvkngvg</string>
	<key>API_KEY</key>
	<string>AIzaSyA6rR7X1NwM3egxsmfYofY1TiE4VO40AaM</string>
	<key>GCM_SENDER_ID</key>
	<string>6903333789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>collegeLink.iOS-APOD</string>
	<key>PROJECT_ID</key>
	<string>apod-5c9f5</string>
	<key>STORAGE_BUCKET</key>
	<string>apod-5c9f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6903333789:ios:910f318680891907a0a574</string>
</dict>
</plist>